<h2>Create a new boat</h2>

<%= form_tag "/boats", method: :post do %>
  <p>Name: <input type="text" name="name"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Capacity: <input type="text" name="capacity"></p>
  <p>Color: <input type="text" name="color"></p>
  <input type="submit" value="Create a boat">
<% end %>
